{% extends 'layout.twig' %}
{% block title %} Index {% endblock %}

	{% block body %}

		<div class="row">

			<div class="col s12 m7">

				<table class="centered striped">
					<thead>
						<tr>
							<th>Norme</th>
							<th>Note</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Java</td>
							<td>{{global.java.note}} / {{global.total.java}}</td>
						</tr>
						<tr>
							<td>Mémoire</td>
							<td>{{global.ram.note}} / {{global.total.memoire}}</td>
						</tr>
						<tr>
							<td>Randomness</td>
							<td>{{global.random.note}} / {{global.total.random}}</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="col s12 m5" >
				<div style="color:white;border-radius:5px;margin-top:20%" class="container center 

				{% if global.result < global.total.somme / 2 %} red
				{% elseif global.result < global.total.somme  %} orange
				{% else %} green
				{% endif %}

				lighten-2">

				<h3>Note : {{global.result}} / {{global.total.somme}} </h3>

			</div>
		</div>

		<div class="col s12">

			<div class="col s12 m6">
				<div class="card 

				{% if global.ram.note == 15 %} green
				{% elseif global.ram.note == 7 %} orange
				{% else %} red lighten-2 
				{% endif %}">

				<div class="card-content white-text">
					<span class="card-title"><u>Mémoire vive </u> ( {{global.constant.REQUIRED_MEMORY}} Go requis )</span>
					Mémoire totale : {{global.ram.total}} Go<br>
					Mémoire disponible : {{global.ram.free}} Go <br>
				</div>

			</div>
		</div>
		<div class="col s12 m6">

			<div class="card 
			{% if global.java.note == 20 %} green
			{% elseif global.java.note == 0 %} red lighten-2
			{% endif %}">

			<div class="card-content white-text">
				<span class="card-title"><u>Java</u> ( version {{global.constant.JAVA_VERSION}} requise )</span>
				{% if global.java.javaVersion %}
					<p>La version actuellement installée est la version {{ global.java.javaVersion }}.</p>
				{% else %}
					<p>Aucune instance de java n'est actuellement installée.</p>
				{% endif %}
			</div>

		</div>
	</div>

</div>

<div class="col s12">

	<div class="col s12 m6">

		<div class="card 

		{% if global.random.note == 10 %} green
		{% elseif global.random.note > 5 %} orange
		{% else %} red lighten-2 
		{% endif %}">

		<div class="card-content white-text">
			<span class="card-title"><u>Séquence aléatoire</u> ( {{global.constant.RANDOMNESS}} requises )</span>
			{% if global.random.data == "windows" %}
				<p>Les systèmes Windows prennent en charge la génération des séquences aléatoires</p>
			{% elseif global.random.note > 5 %}
				<p>Il y a suffisamment de génération de séquences aléatoire {{ global.random.data }}.</p>
			{% else %}
				<p>Il n'y a pas assez de génération de séquences aléatoire {{ global.random.data }}.</p>				
			{% endif %}
		</div>

	</div>
</div>


<div class="col s12 m6">

	<div class="card green">

		<div class="card-content white-text">
			<span class="card-title"><u>Fichiers </u> </span>
			{% for file in global.fileList %}
				{{file}}<br>
			{% endfor %}

		</div>

	</div>
</div>

</div>

</div>

{% endblock %}
